<!doctype html>
<html ng-app="GradesApp">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
	<script src="bower_components/material-design-lite/material.min.js"></script>

	<link rel="stylesheet" href="style/style.css">

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="js/app.js"></script>

	<title>Grades</title>
</head>

<body ng-controller="AppCtrl as app">

	<!-- INTRO -->
	<div ng-show="!app.currentUser" class="mdl-layout mdl-js-layout intro-view">
		<main ng-controller="IntroCtrl as intro" ng-show="!app.currentUser" class="mdl-layout__content login">

			<!-- Log in -->
			<div ng-controller="LoginCtrl as log" ng-show="intro.login" class="mdl-layout mdl-js-layout mdl-color--grey-100 login-container">
				<div class="mdl-card mdl-shadow--6dp">
					<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
						<h2 class="mdl-card__title-text">Log in</h2>
					</div>
					<div class="mdl-card__supporting-text">
						<form ng-submit="log.login()">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input ng-model="log.user.email" class="mdl-textfield__input" type="text" id="email" autocomplete="off"/>
								<label class="mdl-textfield__label" for="Email">Email</label>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input ng-model="log.user.pass" class="mdl-textfield__input" type="password" id="userpass" />
								<label class="mdl-textfield__label" for="userpass">Password</label>
							</div>
							<input ng-show="false" type="submit">
						</form>
						<span ng-show="log.error" class="error">Wrong email or password</span>
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<button ng-click="log.login()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Log in</button>
						<span class="or">or</span>
						<button ng-click="intro.switch()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Register</button>
					</div>
				</div>
			</div>

			<!-- Register -->
			<div ng-controller="RegisterCtrl as reg" ng-show="!intro.login" class="mdl-layout mdl-js-layout mdl-color--grey-100 login-container">
				<div class="mdl-card mdl-shadow--6dp">
					<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
						<h2 class="mdl-card__title-text">Register</h2>
					</div>
					<div class="mdl-card__supporting-text">
						<form ng-submit="reg.register()">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input ng-model="reg.user.email" class="mdl-textfield__input" type="email" id="email1" autocomplete="off"/>
								<label class="mdl-textfield__label" for="email1">Email</label>
								<span class="mdl-textfield__error">Invalid email!</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input ng-model="reg.user.firstName" class="mdl-textfield__input name" type="text" id="firstName" autocomplete="off"/>
								<label class="mdl-textfield__label" for="firstName">First name</label>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input ng-model="reg.user.lastName" class="mdl-textfield__input name" type="text" id="lastName" autocomplete="off"/>
								<label class="mdl-textfield__label" for="lastName">Last name</label>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input ng-model="reg.user.pass" class="mdl-textfield__input" type="password" id="userpass1" pattern="[0-9a-zA-Z]{6,}"/>
								<label class="mdl-textfield__label" for="userpass1">Password</label>
								<span class="mdl-textfield__error">Password should be at least 6 charecters!</span>
							</div>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect student" for="option-1">
								<input ng-model="reg.status" type="radio" id="option-1" class="mdl-radio__button" name="options" value="student" checked>
								<span class="mdl-radio__label">Student</span>
							</label>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect teacher" for="option-2">
								<input ng-model="reg.status" type="radio" id="option-2" class="mdl-radio__button" name="options" value="teacher">
								<span class="mdl-radio__label">Teacher</span>
							</label>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label student-code">
								<input ng-model="reg.user.code" class="mdl-textfield__input" type="password" id="code" pattern="-?[0-9]*(\.[0-9]+)?"/>
								<label class="mdl-textfield__label" for="Code">Student code</label>
								<span class="mdl-textfield__error">Input is not a number!</span>
							</div>
							<input ng-show="false" type="submit">
						</form>
						<span ng-show="reg.error" class="error">Email taken!</span>
						<span ng-show="!reg.infoSet" class="error">Please fill all fields!</span>
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<button ng-click="reg.register()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Register</button>
						<span class="or">or</span>
						<button ng-click="intro.switch()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Log in</button>
					</div>
				</div>
			</div>
		</main>

	</div>



	<!-- TEACHER -->
	<div ng-show="app.currentUser.status === 'teacher'" class="mdl-layout mdl-js-layout mdl-layout--fixed-header teacher-view">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Grades</span>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Menu</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="" ng-click="app.logout()">Log out</a>
			</nav>
		</div>

		<main class="mdl-layout__content">
			<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
				<div ng-controller="TableCtrl as tbl" class="page-content mdl-grid">

					<!--New assignment popup-->
					<div ng-show="tbl.newAssPopupVisible" class="mdl-layout mdl-js-layout mdl-color--grey-100 popup">
						<div class="mdl-card mdl-shadow--16dp">
							<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
								<h2 class="mdl-card__title-text">New assignment</h2>
							</div>
							<div class="mdl-card__supporting-text">
								<form ng-submit="tbl.create()">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										<input ng-model="tbl.newAssName" class="mdl-textfield__input" type="text" id="name" autocomplete="off"/>
										<label class="mdl-textfield__label" for="name">Assignment name</label>
									</div>
									<input ng-show="false" type="submit">
								</form>
							</div>
							<div class="mdl-card__actions mdl-card--border">
								<button ng-click="tbl.create()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Create</button>
								<button ng-click="tbl.cancel()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cancel</button>
							</div>
						</div>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">
						<input class="mdl-textfield__input" type="text" id="sample1" ng-model="query">
						<label class="mdl-textfield__label" for="sample1">Search...</label>
					</div>

					<button ng-click="tbl.showPopup('new_ass')" class="mdl-button mdl-js-button mdl-button--accent mdl-cell mdl-cell--2-col add-assignment">
						New assignment
					</button>
					<button ng-click="tbl.selectMultiple()" class="mdl-button mdl-js-button mdl-button--accent mdl-cell mdl-cell--2-col add-assignment" ng-class="{'mdl-button--raised': tbl.multiselect}">
						Select multiple
					</button>

					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col students-table" ng-class="{'mdl-badge mdl-badge--overlap': tbl.multiselect}" data-badge="{{tbl.selected.length}}">
						<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">Name</th>
							<th class="mdl-data-table__cell">Student code</th>
							<th class="mdl-data-table__cell" ng-repeat="assignment in tbl.assignments track by $index">{{assignment}}</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="student in (tbl.students | filter:query)" ng-class="{'selected': tbl.studentSelected(student)}" ng-click="tbl.select(student)">
							<td class="mdl-data-table__cell--non-numeric ">{{student.firstName}} {{student.lastName}}</td>
							<td>{{student.code}}</td>
							<td ng-repeat="ass in tbl.assignments track by $index">
								<input ng-click="$event.stopPropagation()" type="number" class="ass-grade" ng-model="grade" ng-change="tbl.updateStudent(student, ass, grade)" value="{{student.grades[ass]}}"/>
							</td>
						</tr>
						</tbody>
					</table>

				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="fixed-tab-2">
				<div class="page-content"><!-- Your content goes here -->Mis</div>
			</section>
			<section class="mdl-layout__tab-panel" id="fixed-tab-3">
				<div class="page-content"><!-- Your content goes here -->Teed</div>
			</section>
		</main>

	</div>


	<!-- STUDENT -->
	<div ng-show="app.currentUser.status === 'student'" class="mdl-layout mdl-js-layout mdl-layout--fixed-header student-view">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Grades</span>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Menu</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="" ng-click="app.logout()">Log out</a>
			</nav>
		</div>

		<main class="mdl-layout__content">
			<section class="mdl-layout__tab-panel is-active">
				<div ng-controller="GradesCtrl as grades" class="page-content mdl-grid grades">

					<!--Submit popup-->
					<div ng-show="grades.currentAssignment" class="mdl-layout mdl-js-layout mdl-color--grey-100 popup">
						<div class="mdl-card mdl-shadow--16dp">
							<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
								<h2 class="mdl-card__title-text">{{grades.currentAssignment}}</h2>
							</div>
							<div class="mdl-card__supporting-text">
								<form id="file-form" ng-submit="grades.submit()">
									<div class="mdl-textfield mdl-js-textfield">
										<input id="file-input" class="file-button" type="file" name="file"/>
									</div>
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										<textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ng-model="grades.comments"></textarea>
										<label class="mdl-textfield__label" for="sample5">Comments...</label>
									</div>
									<!--<input ng-show="false" type="submit">-->
								</form>
							</div>
							<div class="mdl-card__actions mdl-card--border">
								<button ng-click="grades.submit()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit work</button>
								<button ng-click="grades.cancel()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cancel</button>
							</div>
						</div>
					</div>


					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
						<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric mdl-badge mdl-badge--overlap">Assignment</th>
							<th class="mdl-data-table__cell">Grade</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="assignment in grades.assignments" ng-click="grades.submitAssignment($index)">
							<td class="mdl-data-table__cell--non-numeric ">{{assignment}}</td>
							<td>{{grades.grades[assignment]}}</td>
						</tr>
						</tbody>
					</table>

				</div>
			</section>
		</main>
	</div>


</body>

</html>