.login .login-container {
    align-items: center;
    justify-content: center;
}

.login .error {
    color: #EF5350
}

.login .or {
    color: #939393;
    padding-left: 5px;
    padding-right: 5px;
}

.login .mdl-radio {
    margin-right: 15px;
}

form .name {
    text-transform: capitalize;
}

.name-row {
    /*width: 50px;*/
}

.add-assignment {
    top: 10px;
}

.popup {
    align-items: center;
    justify-content: center;
}

.edit-popup .row {
    height: 50px;
}

.ass-name {
    display: flex;
    align-items: center;
}

/*.ass-grade {*/
    /*display: flex;*/
    /*align-items: center;*/
/*}*/

.ass-grade {
    width: 25px;
    padding: 0;
    font-size: 12px;
    text-align: center;
    border: none;
}

