.login .login-container {
    align-items: center;
    justify-content: center;
}

.login .error {
    color: #EF5350
}

.login .or {
    color: #939393;
    padding-left: 5px;
    padding-right: 5px;
}

.login .mdl-radio {
    margin-right: 15px;
}

form .name {
    text-transform: capitalize;
}

.name-row {
    /*width: 50px;*/
}
